<!doctype html>
<html>
    <head>
        <script src='/socket.io/socket.io.js'></script>
        <script>
            var socket = io(); 
            socket.on('message', function(msg){
              console.log(msg); 
            }); 
        </script>
    </head>
    <body>
        <h1>HELLO WORLD</h1>
        <ul id='messages'></ul>
    </body>
</html>